@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&family=Fraunces:ital@0;1&family=Manrope:wght@200;600;700;800&family=Open+Sans:wght@100;300;400&family=Poppins:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    font-family: 'Manrope', sans-serif;
    
}

:root {
    --color-black: #1E1B1B;
    --color-primary: #FF6433;
    --color-secondary:#661CE7;
    --color-mint:#00D289;
    --color-steelgrey:#E2E6E9;
    --color-lightgrey:#F2F2F2;
}

.btn {
    width: 139px;
    height:64px;
    border-radius: 12px;
    padding : 16px 40px 16px 40px;
    font-weight: 600;
    font-size: 18px;
    line-height: 31.5px;
    color: #fff;
}

/* .btn-primary {
    background-color: var(--color-primary);
    font-size: 18px;
    height: 32px;
    width: 129px;
} */

.btn-black {
    background-color: var(--color-black);
}

h1 {
    font-size: 64px;
}
h2 {
    font-size: 58px;
}
h3 {
    font-size:48px;
}
h4 {
    font-size: 40px;
}

h5 {
    font-size: 32px;
}

h6 {
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}
.container  {

    width: 80%;
    margin: auto;
}

section{
    margin-top: 2rem;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

}

.navbar__right {
    display: flex;
    align-items: center;
    /* padding-right: ; */

}
.navbar__right-ul ul{
    display: flex;
   align-items: center;
}

.navbar__right-ul ul li {
    list-style: none;
    padding: 0 1rem;
}

.navbar__right-ul ul li a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 600;
    font-size: 16px;

}

.navbar__right-ul::after {

    content: "";
    width: 2px;
    height: 2rem;
    color: var(--color-steelgrey);

}
.navbar__contact {
    display: flex;
    align-items: center;
}

.navbar__contact-icon {
    background-color: var(--color-mint);
    border-radius: 50%;
    width: 40px;
    height: 25.52px;
}

.navbar__contact-icon img {
    margin-left: 0.5rem;
    width: 20px;
    height: 13.26px;
}

.navbar__contact-text  {
margin-left: .9rem;

}

.navbar__contact-text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.navbar__contact-text p:last-child{
    font-weight: 600;
}
.flex {
    display: flex;
}
#hero-section, #quote-section{
    padding: 80px 0;
}
#hero-section .image-section, #hero-section .text-section{
    width: 50%;

}
#quote-section {
    background:var(--color-steelgrey);
  
}

.my_container{
    background-color: #fafafa;
    display: flex;
}

.my_container h3{
    font-weight: 700;
}
.inner_container{
    width: 80%;
    margin:auto;
    text-align: center;
    margin: 50px auto;
}
.img-container{
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img-container img{
    width: 23%;
}

.text-section__buttom{
    margin-top: 10rem;
}

.text-section__buttom p:first-child{
    color: #939191;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;

}

.text-section__buttom p:last-child{
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.quote-section_left h2{
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -0.03em;
    margin-bottom: 1rem;
}

.quote-container{
    display: flex;
    margin-top: 2.5rem;
    align-items: center;
}

.quote-icon{
    background-color: #fff;
    width: auto;
    padding: .5rem;
    border-radius: 50%;
}

.quotes{
    margin-left: 1rem;
}

.quotes h6{
font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: -0.03em;

}

.quotes p{
font-size: 16px;
font-weight: 200;
opacity: 60%;
margin-top: 0.5rem;
}

.more{
  margin-top: 3rem;
font-size: 18px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0em;

}

.button{
    background-color: var(--color-primary);
    height: 64px;
    width: auto;
    border-radius: 12px;
    padding: .5rem 1rem;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.quote-section_right h3{
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: -0.03em;
}

form{
    margin-top: 1rem;
}

form input{
    display: inline-block;
    width: 100%;
    margin: .1rem;
    padding: 1rem;
    border-radius: 2px;
    border: none;
}

.sectionOne{
    display: flex;
    align-items: center;
    height: 80vh;
}

.sectionOne__left{
    margin-right: 6rem;
}

.sectionOne h2{
    width: 524px;
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -0.03em;

}

.sectionOne__left p{
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    height: 56px;
    width: 437px;
    opacity: 60%;
    margin-top: 3rem;
}

.rightQuote__container{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.rightQuote__container .first{
    height: 40px;
    border-radius: 50%;

}

#services{
    background-color: var(--color-steelgrey);
    height: 100vh;
}

.service__offer .offer {
    text-align: center; 
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;

}

.service__offer h2{
    text-align: center;
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;

}

.service__offer{
    padding: 2rem 0;
}

.services__display{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding-top: 4rem;
    cursor: pointer;
}

.service{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 270px;
    background-color: #fff;
    transition: all 300ms ease-in-out;
}

.service:hover{
    background-color: var(--color-primary);
    color: white;
}

.service__buttom{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: end;
    margin-top: 3rem;
}

.wrapper{
    background-image: url(/img/engine.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 502px;
}

.container-text{
    background-color: var(--color-primary);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 729px;
}

.container-text h3{
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;

}

.experience{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.experience h2{
    color: var(--color-secondary);

    font-size: 58px;
    font-weight: 800;
    line-height: 76px;

}

.experience p{
    font-weight: 600;
}